.sliderWrapper{
  min-height:100vh ;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6% 12%;
}

.slide{
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden ;
}
.content{
  position: relative; 
  /* change */
  top: 72%;
  left:8%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.content p{
  color: white;
  font-size: 16px;
}

.content h2{
  font-size: 32px;
  color: white;
}

.content button{
  height: 42px;
  width: 140px;
  border: none;
  background-color: rgba(255, 255, 255 , 0.5);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  position: relative;

}
.content button span{
  position: absolute;
  top: 0;
  left: 0;
}
.content button span:nth-of-type(1):after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 15px;
  background-color: white;
}
.content button span:nth-of-type(1):before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 1px;
  background-color: white;
}

.content button span:nth-of-type(2){
  top: 100%;
  left: 0;
}

.content button span:nth-of-type(2):after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 15px;
  background-color: white;
}
.content button span:nth-of-type(2):before{
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 15px;
  width: 1px;
  background-color: white;
}
.content button span:nth-of-type(3){
  top: 0%;
  left: 100%;
}

.content button span:nth-of-type(3):after{
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  height: 1px;
  width: 15px;
  background-color: white;
}
.content button span:nth-of-type(3):before{
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  height: 15px;
  width: 1px;
  background-color: white;
}
.content button span:nth-of-type(4){
  top: 100%;
  left: 100%;
}

.content button span:nth-of-type(4):after{
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  height: 1px;
  width: 15px;
  background-color: white;
}
.content button span:nth-of-type(4):before{
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 15px;
  width: 1px;
  background-color: white;
}
.swiper{
  width: 100% !important;
}
.slide1{
  background: url(./../../assets/1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.slide2{
  background: url(./../../assets/2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

}
.slide3{
  background: url(./../../assets/3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
 
}

.Social{
  position: absolute;
  top:40%;
  right:50px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.Social i{
  color: white;
  height: 40px;
  width: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.8px solid rgba(255, 255, 255 , 0.5);
  transition: .6s;
}
.Social i:hover{
  background-color: rgba(255, 255, 255 , 0.5);
  color: white;
}

@media screen and (max-width:768px){
  .Social{
    z-index: 9;
  }

  .sliderWrapper{
    padding: 6% 20%;
  }
  .content{
    top:64%;

  }
}